# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dev"

# Node
NODE_ENV="development"

# API
PORT=8000
BASE_URL="http://localhost:8000"

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
GOOGLE_OAUTH_REDIRECT_URI=""

# Logger
LOGGER_LEVEL="debug"

# Web (Next.js)
NEXT_PUBLIC_API_URL="http://localhost:8000/trpc"
